{% if authOk %}
<div id="profileData">
  <span>Hi <a class="action" href="{{path('fos_user_profile_edit')}}">{{ user.username }}</a></span>
  <span class="logout"><a class="action" href="{{path('fos_user_security_logout')}}">Logout</a></span>
</div>
{% else %}
<div id="login_register">
  <span>{% trans %}allready a member{% endtrans %} <a class="action" href="{{path('fos_user_security_login')}}">Login</a></span><br>
  <span>{% trans %}not a member ?{% endtrans %} <a class="action" href="{{path('fos_user_registration_register')}}">Register</a></span>
</div>  
{% endif %}